@page
@model MascotaFeliz.App.Frontend.Pages.ListaVeterinariosModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleVeterinario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link
href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap"
rel="stylesheet"
/>
    <title>Document</title>
</head>
<body>
  

    <header class="header">
        <div class="grid">
        <div class="headercont">
            <p class="logo"> ANIMAL CARE</p>
                        <div id="menu">
                            <ul>
                                <!-- <li id="item"><a href="indexcatalogo.html">SEDES</a>
                                    <ul id="desple">
                                        <li><a href="indexcatalogo.html">BOGOTÁ</a></li>
                                        <li><a href="indexcatalogo.html">MEDELLÍN</a></li>
                                        <li><a href="indexcatalogo.html">CALI</a></li>
                                    </ul>
                                </li> -->
                                <li id="item" ><a href="RegistroMascota.html">REGISTRO MASCOTA</a></li>
                                <li id="item" ><a href="RegistroDueno.html">REGISTRO PROPIETARIO</a></li>
                                
                            <li id="item"><a href="indexingreso.html">
                                <i class="fas fa-address-book"></i>
                            </a></li>
                        </ul>
                    </div>
        </div>
            <section class="banner">        
                    <div class="bannerDes">
                    <div class="contenedor">

                        <h1>BIENVENIDO AL REGISTRO DEL VETERINARIO</h1>
                        <input type="button" value="Registrar" class="botonBanner">
                    </div>
                </div>
            </section>
</div>
</header>



<div class="login">
    <h3>REGISTRAR VETERINARIO</h3>
    
        <form action="/" class="form">
     

      <label for="name" class="label">NOMBRES</label>
      <input
        type="text"
        id="name"
        class="inputs"
      />

      <label for="apellidos" class="label">APELLIDOS</label>
      <input
       type="text"
        id="apellidos"
        class="inputs"
      />

      <label for="identificacion" class="label">IDENTIFICACIÓN</label>
      <input
       type="text"
        id="identificacion"
        class="inputs"
      />

      <label for="direccion" class="label">DIRECCIÓN</label>
      <input
       type="text"
        id="direccion"
        class="inputs"
      />

      <label for="telefono" class="label">TELÉFONO</label>
      <input
       type="text"
        id="telefono"
        class="inputs"
      />
      
        <label for="tp" class="label">TARJETA PROFESIONAL</label>
        <input
          type="text"
          id="`tp"
          class="inputs"
        />

     

        <input
          type="submit"
          value="REGISTRAR"
          class="primary-button login-button"
        />
       
      </form>

    
  </div>
  <form action="" method="GET" class="form2">
    <div class="conttabla">
        
   <table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Tarjeta Profesional</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var veterinario in Model.listaVeterinarios)
        {

        <tr>
            <td> <input type="text" name="id" class="inputs2"value="@veterinario.Id"></td>
            <td> <input type="text" name="nom" class="inputs2"value="@veterinario.Nombres"></td>
            <td> <input type="text" name="ape" class="inputs2"value="@veterinario.Apellidos"></td>
            <td> <input type="text" name="dir" class="inputs2"value="@veterinario.Direccion"></td>
            <td> <input type="text" name="tel" class="inputs2"value="@veterinario.Telefono"></td>
            <td> <input type="text" name="tel" class="inputs2"value="@veterinario.TarjetaProfesional"></td>
       
            <td> <button type="button"   name="btnact" class="botonBanner ">Editar</button></td>
            <td> <a type="button"   name="btnact" class="botonBanner" asp-page="./DetallesVeterinarios" asp-route-veterinarioId="@veterinario.Id">Detalles</a></td>
            <!-- <td> <button type="button"   name="btneli" class="primary-button login-button">Eliminar</button></td> -->
        
        </tr>
        }
      
    </tbody>
</table>
    </div>
</form>
 





   
    
</body>