@page
@model MascotaFeliz.App.Frontend.Pages.ListaDuenosModel
@{
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleDueno.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
  
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
  

    <header class="header">
        <div class="grid">
        <div class="headercont">
            <p class="logo"><a asp-page="/Index"> ANIMAL CARE</a></p>
                        <div id="menu">
                            <ul>
                              <!--   <li id="item"><a href="indexcatalogo.html">SEDES</a>
                                    <ul id="desple">
                                        <li><a href="indexcatalogo.html">BOGOTÁ</a></li>
                                        <li><a href="indexcatalogo.html">MEDELLÍN</a></li>
                                        <li><a href="indexcatalogo.html">CALI</a></li>
                                    </ul>
                                </li> -->
                                 <li id="item" ><a asp-page="/Veterinarios/ListaVeterinarios">REGISTRO VETERINARIO</a></li>
                                <li id="item" ><a asp-page="/Mascotas/ListaMascotas">REGISTRO MASCOTA</a></li>
                                
                            <li id="item"><a href="indexingreso.html">
                                <i class="fas fa-address-book"></i>
                            </a></li>
                        </ul>
                    </div>
        </div>
            <section class="banner">        
                    <div class="bannerDes">
                    <div class="contenedor">

                        <h1>BIENVENIDO AL REGISTRO DEL PROPIETARIO</h1>
                          <a class = "botonBanner" asp-page="./EditarDuenos" >Adicionar Dueño</a>
@* 
                        <input type="button" value="Registrar" class="botonBanner"> *@
                    </div>
                </div>
            </section>
</div>
</header>

<!-- 

<div class="login">
    <h3>REGISTRAR DUEÑO</h3>

    
    <form action="/" class="form">
      <label for="identificacion" class="label">IDENTIFICACIÓN</label>
      <input
       type="text"
        id="identificacion"
        class="inputs"
      />
    <label for="name" class="label">NOMBRES</label>
      <input
        type="text"
        id="name"
        class="inputs"
      />

      <label for="apellidos" class="label">APELLIDOS</label>
      <input
       type="text"
        id="apellidos"
        class="inputs"
      />

      

      <label for="direccion" class="label">DIRECCIÓN</label>
      <input
       type="text"
        id="direccion"
        class="inputs"
      />

      <label for="telefono" class="label">TELÉFONO</label>
      <input
       type="text"
        id="telefono"
        class="inputs"
      />
      
        <label for="email" class="label">EMAIL</label>
        <input
          type="text"
          id="email"
          class="inputs"
        />

     

        <input
          type="submit"
          value="REGISTRAR"
          class="primary-button login-button"
        />
    
      </form>

     
    </div>

    
    -->
          
     <table>

      <thead>
          <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Dirección</th>
              <th>Telefono</th>
              <th>Email</th>
          </tr>
      </thead>
      
 
        @foreach (var dueno in Model.listaDuenos)
        {
        <tr>

        


            <td> <input type="text" name="id" class="inputs2" value= @dueno.Id> </td>
            <td> <input type="text" name="id" class="inputs2" value=@dueno.Nombres>  </td>
            <td> <input type="text" name="ape" class="inputs2" value= @dueno.Apellidos>  </td>
            <td> <input type="text" name="dir" class="inputs2" value= @dueno.Direccion>  </td>
            <td> <input type="text" name="tel" class="inputs2" value= @dueno.Telefono>  </td>
            <td> <input type="text" name="ema" class="inputs2" value= @dueno.Correo>  </td> 
            
            
            <td> <a type="button"   name="btnact" class="primary-button login-button" asp-page="./EditarDuenos" asp-route-duenoId="@dueno.Id">Editar</a></td> 
            <td> <a type="button"   name="btnact" class="primary-button login-button" asp-page="./DetallesDuenos" asp-route-duenoId="@dueno.Id">Detalles</a></td> 
          
            <!-- <td> <button type="button"   name="btneli" class="primary-button login-button">Eliminar</button></td> -->
            
        
        </tr>
        }


      
  </table>

  @* <a class = "btn btn-primary table-btn" asp-page="./EditarDuenos" class="btn-default">Adicionar Dueño</a> *@
      
  
  
</body>