@page
@model MascotaFeliz.App.Frontend.Pages.EditarMascotasModel
@{
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleMascota.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
  

    <header class="header">
        <div class="grid">
        <div class="headercont">
            <p class="logo"><a asp-page="/Index"> ANIMAL CARE</a></p>
                        <div id="menu">
                            <ul>
                              
                                <li id="item" ><a asp-page="/Veterinarios/ListaVeterinarios">REGISTRO VETERINARIO</a></li>
                                <li id="item" ><a asp-page="/Duenos/ListaDuenos">REGISTRO PROPIETARIO</a></li>
                                                            <li id="item" ><a asp-page="/HistoriaClinica/ListaHistoria">REGISTRO HISTORIA CLINICA</a></li>
                            <li id="item"><a href="indexingreso.html">
                                <i class="fas fa-address-book"></i>
                            </a></li>
                        </ul>
                    </div>
        </div>
            <section class="banner">        
                    <div class="bannerDes">
                    <div class="contenedor">

                        <h1>BIENVENIDO AL REGISTRO DE LA MASCOTA</h1>
                        <a asp-page="./ListaMascotas" class="botonBanner"> Lista de las Mascotas </a>
                    </div>
                </div>
            </section>
</div>
</header>



<div class="login">
<h1> REGISTRAR MASCOTA </h1>

<form method="post" class="form" >
    
        <input type="hidden" asp-for = "mascota.Id" />
        <label asp-for="mascota.Nombre" class="label"></label>
        <input asp-for="mascota.Nombre" class="inputs">
        <label asp-for="mascota.Color" class="label"></label>
        <input asp-for="mascota.Color" class="inputs">
        <label asp-for="mascota.Especie" class="label"></label>
        <input asp-for="mascota.Especie" class="inputs">
        <label asp-for="mascota.Raza" class="label"></label>
        <input asp-for="mascota.Raza" class="inputs">

        <label for="dueno" class="label">Dueño</label>
        <select class="inputse" id="dueno" asp-for ="mascota.Dueno.Id" name = "duenoId" >
            <option value="0">Seleccione un Dueño</option>
            @foreach (var dueno in Model.listaDuenos)
            {
                <option value="@dueno.Id">@dueno.Nombres @dueno.Apellidos </option>
            }
        </select>
        <label for="veterinario" class="label">Veterinario</label>
        <select  class="inputse" id="veterinario" asp-for ="mascota.Veterinario.Id" name = "veterinarioId" >
            <option value="0">Seleccione un Veterinario</option>
            @foreach (var veterinario in Model.listaVeterinarios)
            {
                <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos </option>
            }
        </select>


        <button type="submit" class="primary-button login-button">Guardar</button>
   

</form>
</div>

@* <a asp-page="./ListaMascotas" class="btn-default"> Lista de las Mascotas </a> *@
</body>