@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleMascota.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
  

    <header class="header">
        <div class="grid">
        <div class="headercont">
            <p class="logo"><a asp-page="/Index"> ANIMAL CARE</a></p>
                        <div id="menu">
                            <ul>
                              
                                <li id="item" ><a href="RegistroDueno.html">REGISTRO PROPIETARIO</a></li>
                                <li id="item" ><a href="RegistroVeterinario.html">REGISTRO VETERINARIO</a></li>
                                
                            <li id="item"><a href="indexingreso.html">
                                <i class="fas fa-address-book"></i>
                            </a></li>
                        </ul>
                    </div>
        </div>
            <section class="banner">        
                    <div class="bannerDes">
                    <div class="contenedor">

                        <h1>BIENVENIDO AL REGISTRO DE LA MASCOTA</h1>
                        <input type="button" value="Registrar" class="botonBanner">
                    </div>
                </div>
            </section>
</div>
</header>


<!-- 

<div class="login">
    <h3>REGISTRAR MASCOTA</h3>
 
      
      <form action="/" class="form">

      <label for="name" class="label">NOMBRE</label>
      <input
        type="text"
        id="name"
        class="inputs"
      />

      <label for="apellidos" class="label">COLOR</label>
      <input
       type="text"
        id="apellidos"
        class="inputs"
      />

      <label for="identificacion" class="label">ESPECIE</label>
      <input
       type="text"
        id="identificacion"
        class="inputs"
      />

      <label for="direccion" class="label">RAZA</label>
      <input
       type="text"
        id="direccion"
        class="inputs"
      />
      <label for="direccion" class="label">ID DUEÑO</label>
      <input
       type="text"
        id="direccion"
        class="inputs"
      />
      <label for="direccion" class="label">ID VETERINARIO</label>
      <input
       type="text"
        id="direccion"
        class="inputs"
      />
      <label for="direccion" class="label">ID HISTORIA CLINICA</label>
      <input
       type="text"
        id="direccion"
        class="inputs"
      />


        <input
          type="submit"
          value="REGISTRAR"
          class="primary-button login-button"
        />
       
      </form>

    </div>

    -->
          
     <table>
      <thead>
          <tr>
            <th>Id</th>
              <th>Nombre</th>
              <th>Color</th>
              <th>Especie</th>
              <th>Raza</th>
              <th>Id Dueño</th>
              <th>Id Veterinario</th>
              <!--<th>Id Historia</th> -->
          </tr>
      </thead>
      
 


        @foreach (var mascota in Model.listaMascotas)
        {
        <tr>
            <td> <input type="text" name="id" class="inputs2"value="@mascota.Id"></td>
            <td> <input type="text" name="nom" class="inputs2"value="@mascota.Nombre"></td>
            <td> <input type="text" name="col" class="inputs2"value="@mascota.Color"></td>
            <td> <input type="text" name="esp" class="inputs2"value="@mascota.Especie"></td>
            <td> <input type="text" name="raz" class="inputs2"value="@mascota.Raza"></td>
            <td> <input type="text" name="iddu" class="inputs2"value="@mascota.Dueno.Id"></td>
            <td> <input type="text" name="idvet" class="inputs2"value="@mascota.Veterinario.Id"></td>
            <!--<td> <input type="text" name="idhis" class="inputs2"value="-"></td> -->
            
            <td> <a type="button"   name="btnact" class="primary-button login-button" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">Editar</a></td> 
            <td> <a type="button"   name="btnact" class="primary-button login-button" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">Detalles</a></td> 
            
            <!-- <td> <button type="button"   name="btneli" class="primary-button login-button">Eliminar</button></td> -->
        
        </tr>
        }
        
      
  </table>
  <a class = "btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default">Adicionar Mascota</a>

</body>
